# Copyright (c) Arduino s.r.l. and/or its affiliated companies
# SPDX-License-Identifier: Apache-2.0
#
# PATCHED: mww is written while CPU is *halted* (before final reset), so the
# Zephyr kernel always finds the magic word at boot instead of 100ms too late.

reset_config srst_only srst_nogate srst_push_pull connect_assert_srst
init
reset
halt
flash info 0
flash write_image erase ${filename} 0x8100000 bin
mww 0x40036400 0xCAFFEEEE
reset
shutdown
